<div class="formContainer">
  <h1>Update Attendance</h1>
  <form [formGroup]="updatedAttendance" (ngSubmit)="handleSubmit()">
    <label>
      Employee Id:
      <input
        type="number"
        formControlName="employeeId"
        required
        [value]="selectedAttendance?.employeeId"
      />
    </label>

    <label>
      Date:
      <input
        type="date"
        formControlName="date"
        [value]="selectedAttendance?.date | date : 'yyyy-MM-dd'"
        [placeholder]="selectedAttendance?.date | date"
        required
      />
    </label>

    <label>
      Check In Time:
      <input
        type="time"
        formControlName="checkInTime"
        [value]="selectedAttendance?.checkInTime"
        required
      />
    </label>

    <label>
      Check Out Time:
      <input
        type="time"
        formControlName="checkOutTime"
        [value]="selectedAttendance?.checkOutTime"
        [placeholder]="selectedAttendance?.checkOutTime"
        required
      />
    </label>

    <label>
      Check Out Time:
      <input
        type="text"
        formControlName="status"
        required
        [value]="selectedAttendance?.status"
      />
    </label>

    <div class="buttonContainer">
      <button
        type="submit"
        mat-flat-button
        class="submitButton"
        [disabled]="!updatedAttendance.valid"
      >
        Submit
      </button>
    </div>
  </form>
</div>
