<nav>
  <ul>
    <li>
      <button routerLink="/employee" routerLinkActive="active">Employee</button>
    </li>
    <li>
      <button routerLink="/attendance" routerLinkActive="active">
        Attendance
      </button>
    </li>
    <li>
      <button routerLink="/department" routerLinkActive="active">
        Department
      </button>
    </li>
    <li>
      <button routerLink="/designation">Designation</button>
    </li>
    <li>
      <button routerLink="/log">Log</button>
    </li>
  </ul>
</nav>
