/* General Styles */
table {
  width: 100%;
}

.mat-mdc-form-field {
  font-size: 14px;
  width: 100%;
}

td,
th {
  text-align: left;
  vertical-align: middle;
}

.container {
  margin-left: 100px;
  margin-top: 30px;
}

mat-paginator {
  display: flex;
  justify-content: center;
}

th {
  font-size: 15px;
  font-weight: bold;
}

.add {
  background-color: #333 !important; /* Custom background color */
  color: white !important; /* Text color */
  position: relative; /* Required for positioning the pseudo-element */
}

.add:hover {
  color: #ffcc00 !important; /* Change text color on hover */
}

/* Responsive Design */
@media only screen and (max-width: 768px) {
  .container {
    margin-left: 20px;
    margin-top: 15px;
  }

  table {
    width: 100%;
  }

  th,
  td {
    font-size: 12px;
  }

  .add {
    font-size: 12px;
    padding: 8px 12px;
  }

  mat-paginator {
    font-size: 12px;
  }
}

@media only screen and (max-width: 480px) {
  .container {
    margin-left: 10px;
    margin-top: 10px;
  }

  .add {
    font-size: 10px;
    padding: 6px 10px;
  }

  table {
    font-size: 10px;
  }

  td,
  th {
    padding: 5px;
  }

  mat-paginator {
    font-size: 10px;
  }
}
