<div class="container">
  <button mat-flat-button class="add" routerLink="/createEmployee">
    <mat-icon>person_add</mat-icon>
    Add new employee
  </button>

  <button mat-flat-button class="add" (click)="downloadEmployeeCSVData()">
    <mat-icon>download</mat-icon>
    Download employee data in CSV format
  </button>

  <button mat-flat-button class="add" (click)="downloadEmployeeExcelData()">
    <mat-icon>download</mat-icon>
    Download employee data in Excel format
  </button>

  <mat-form-field>
    <mat-label>Filter</mat-label>
    <input
      matInput
      (keyup)="applyFilter($event)"
      placeholder="Ex. John / 100"
      #input
    />
  </mat-form-field>

  <div class="mat-elevation-z8">
    <mat-divider></mat-divider>

    <table mat-table [dataSource]="dataSource" matSort>
      <!-- Office Employee ID Column -->
      <ng-container matColumnDef="employeeId">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Employee ID</th>
        <td mat-cell *matCellDef="let row">{{ row.employeeId }}</td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
        <td mat-cell *matCellDef="let row">{{ row.name }}</td>
      </ng-container>

      <!-- Email Column -->
      <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Email</th>
        <td mat-cell *matCellDef="let row">{{ row.email }}</td>
      </ng-container>

      <!-- Phone Column -->
      <ng-container matColumnDef="phone">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Phone</th>
        <td mat-cell *matCellDef="let row">{{ row.phone }}</td>
      </ng-container>

      <!-- Department ID Column -->
      <ng-container matColumnDef="departmentId">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Department</th>
        <td mat-cell *matCellDef="let row">
          {{ departmentMap[row.departmentId] }}
        </td>
      </ng-container>

      <!-- Designation ID Column -->
      <ng-container matColumnDef="designationId">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Designation</th>
        <td mat-cell *matCellDef="let row">
          {{ designationMap[row.designationId] }}
        </td>
      </ng-container>

      <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Action</th>
        <td mat-cell *matCellDef="let row">
          <button mat-icon-button routerLink="/input" style="color: #333">
            <mat-icon>input</mat-icon>
          </button>
          <button
            mat-icon-button
            style="color: #333"
            (click)="navigateToInput(row.employeeId)"
          >
            <mat-icon>edit</mat-icon>
          </button>
          <button
            mat-icon-button
            style="color: red"
            (click)="openDialog('0ms', '0ms', row.employeeId)"
          >
            <mat-icon>delete</mat-icon>
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>

      <!-- Row shown when there is no matching data. -->
      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell" colspan="9">
          No data matching the filter "{{ input.value }}"
        </td>
      </tr>
    </table>

    <mat-paginator
      #paginator
      [pageSizeOptions]="[5, 10, 25, 100]"
      aria-label="Select page of employees"
    ></mat-paginator>
  </div>
</div>
<!-- <app-employee-profile
  *ngIf="selectedEmployeeId"
  [employeeId]="selectedEmployeeId"
></app-employee-profile> -->
