<div class="outer-card">
  <mat-card class="inner-card">
    <div class="avatar-container">
      <div class="header">
        <mat-card-title style="font-weight: bold">{{
          selectedEmployee?.name
        }}</mat-card-title>
        <mat-card-subtitle>{{ selectedEmployee?.email }}</mat-card-subtitle>
      </div>
      <img
        [src]="
          'https://ui-avatars.com/api/?name=' +
          selectedEmployee?.name +
          '&background=random&color=fff&size=128'
        "
        alt="Employee Avatar"
        class="avatar"
      />
    </div>
    <mat-card-content>
      <div class="profile-details">
        <div class="work">
          <h3>Work</h3>
          <p>
            <strong>Employee ID:</strong> {{ selectedEmployee?.employeeId }}
          </p>
          <!-- <p><strong>Test Id:</strong> {{ testId }}</p> -->
          <p>
            <strong>Department:</strong> {{ selectedEmployee?.departmentId }}
          </p>
          <p>
            <strong>Designation:</strong> {{ selectedEmployee?.designationId }}
          </p>
        </div>
        <div class="personal">
          <h3>Personal</h3>
          <p><strong>Phone:</strong> {{ selectedEmployee?.phone }}</p>
          <p><strong>Address:</strong> {{ selectedEmployee?.address }}</p>
          <p>
            <strong>Date of Birth:</strong>
            {{ selectedEmployee?.dob | date : "shortDate" }}
          </p>
        </div>
      </div>
      <div class="profile-actions">
        <button mat-flat-button class="profile-button">Check Attendance</button>
        <button
          mat-flat-button
          [routerLink]="['../../updateEmployee', employeeId]"
          class="profile-button"
        >
          Update Profile
        </button>
      </div>
    </mat-card-content>
  </mat-card>
</div>
