<div class="EmployeeAttendanceComponentContainer">
  @for (attendance of attendances; track attendance.attendanceId) {
  <mat-card appearance="raised" class="card">
    <mat-card-content
      ><strong>AttendanceId:</strong>
      {{ attendance.attendanceId }}</mat-card-content
    >
    <mat-card-content
      ><strong>EmployeeId:</strong>
      {{ attendance.employeeId }}</mat-card-content
    >
    <mat-card-content
      ><strong>Date:</strong> {{ attendance.date | date }}</mat-card-content
    >
    <mat-card-content
      ><strong>Check In Time:</strong>
      {{ attendance.checkInTime | date : "shortTime" }}</mat-card-content
    >
    <mat-card-content
      ><strong>Check Out Time:</strong>
      {{ attendance.checkOutTime | date : "shortTime" }}</mat-card-content
    >
    <mat-card-content
      ><strong>Status:</strong> {{ attendance.status }}</mat-card-content
    >
    <div class="updateButton">
      <button
        mat-raised-button
        [routerLink]="['/updateAttendance', attendance.attendanceId]"
      >
        edit
      </button>
    </div>
  </mat-card>

  }
</div>

<div class="notFoundContainer">
  @if(attendances.length == 0){
  <mat-card appearance="outlined" class="notFound">
    <mat-card-content>No record found!</mat-card-content>
  </mat-card>

  }
</div>
